body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories,
.recipes,
.recipe-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category,
.recipe {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category:hover,
.recipe:hover {
    background-color: #f0f0f0;
}

.button-back {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #17202A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recipe-details {
    text-align: center;
}

.recipe-details img {
    max-width: 100%;
    /* Ajustar la imagen al ancho del contenedor */
    max-height: 300px;
    /* Altura máxima de la imagen */
}